*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box
html
    font-size: 62.5%
    /* Поскольку используем max-width, то медиаправила записываются от большего разрешения к меньшему и в конце пишется правило под min-width */
    @include respond(tab-land)
        font-size: 56.25%
    @include respond(tab-port)
        font-size: 50%
    @include respond(phone)
        font-size: 30%
    // @include respond(big-screen)
    //     font-size: 75%

body
    background-color: #fff
    display: flex
    justify-content: center
    height: 100%

a
    -webkit-tap-highlight-color: transparent  // уберет синий прямоугольник (выделение) при нажатии в мобильной версии

.container
    position: relative
    width: 1240px
    padding-left: 2rem
    padding-right: 2rem
    z-index: 0
    @include respond(tab-land)
        width: 940px
    @include respond(tab-port)
        width: 640px
    @include respond(phone)
        width: 360px