@font-face
    font-family: 'Jost'
    src: local('Jost')
    src: url('fonts/Jost-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: swap

@font-face
    font-family: 'DM Serif Display'
    src: local('DM Serif Display')
    src: url('fonts/DMSerifDisplay-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: swap

body
    font-family: 'Jost'
    font-style: normal
    font-weight: 400
    font-size: 2.2rem
    line-height: 3.3rem
    letter-spacing: .022rem
    color: $color-text

.text
    font-family: 'Jost'
    font-style: normal
    font-weight: 400
    letter-spacing: .022rem

.title
    font-family: 'DM Serif Display'
    font-style: normal
    font-weight: 400
    letter-spacing: 0.22px

