.section-about
    max-width: 1440px
    height: 83.1rem
    background: url("../img/bg-img.png") center / cover no-repeat
    margin-bottom: 8.5rem
    margin-left: auto
    margin-right: auto
    @include respond(tab-land)
        margin-bottom: 5rem
    @include respond(tab-port)
        background: url("../img/bg-img-medium.png") center / cover no-repeat
        margin-bottom: 5rem

    &__content
        position: absolute
        top: 19.5rem
        left: 12rem
        width: 60rem
        height: 38.6rem
        @include respond(tab-land)
            left: 22rem
        @include respond(tab-port)
            left: 12rem
            height: 45rem
            display: flex
            flex-direction: column
            align-items: center
        @include respond(phone)
            left: 3rem
            width: 280px

        h1
            font-family: 'DM Serif Display'
            font-weight: 400
            font-size: 8rem
            line-height: 9.6rem
            letter-spacing: 0.022rem
            color: #292F36
            margin-bottom: 1.9rem
            @include respond(tab-port)
                margin-bottom: 3.9rem
                text-align: center
    &__text
        margin-bottom: 3.5rem
        @include respond(tab-port)
            margin-bottom: 7rem
            text-align: center
            color: #232425
        @include respond(phone)
            font-size: 16px

.section-about__button
    position: relative
    background-color: #292F36
    width: 20.7rem
    height: 7.1rem
    border: 2px solid #292F36
    border-radius: 1.8rem
    display: flex
    justify-content: space-between
    align-items: center
    text-decoration: none
    @include respond(phone)
        width: 160px
        justify-content: center
    p
        font-family: 'Jost'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 27px
        letter-spacing: 0.72px
        color: #FFFFFF
        padding-left: 1.5rem
        margin-right: 2.1rem
.section-about__arr
    height: 7.1rem
    position: relative
    @include respond(phone)
        display: none
    &_h
        position: absolute
        top: 3.6rem
        right: 2.1rem
    &_v
        position: absolute
        top: 1.8rem
        right: 2rem
        @include respond(tab-port)
            top: 1.4rem

.section-2
    height: 39.5rem
    margin-bottom: 11.5rem
    display: flex
    justify-content: center
    @include respond(tab-land)
        margin-bottom: 5rem
    @include respond(tab-port)
        height: auto
        margin-bottom: 5rem
    @include respond(phone)
        height: auto

    &__wrapper
        background-color: $color-white
        width: 100%
        @include respond(tab-port)
            display: flex
            flex-direction: column
            align-items: center
    &__title
        text-align: center
        font-size: 2.5rem
        line-height: 3.9rem
        color: #292F36
        padding-top: 7.5rem
        margin-bottom: 1.7rem
        @include respond(tab-port)
            padding-top: 2rem
        @include respond(phone)
            font-size: 3.5rem
    &__text
        display: block
        text-align: center
        font-size: 2.2rem
        line-height: 3.3rem
        color: #4D5053
        @include respond(phone)
            font-size: 2.5rem
        &_1
            padding-left: 4.2rem
            padding-right: 4.1rem
            margin-bottom: 4.8rem
            @include respond(tab-land)
                margin-bottom: 1.8rem
        &_2
            padding-left: 5.2rem
            padding-right: 5.1rem
            margin-bottom: 1.5rem
        &_3
            padding-left: 5.2rem
            padding-right: 5.2rem
            margin-bottom: 1.5rem
    &__link
        display: block
        margin: 0 auto
        width: 32rem
        height: 4.7rem
        text-align: center
        text-decoration: none
        color: $color-text
        span
            color: $color-beige
            padding-left: 0.6rem
        @include respond(phone)
            font-size: 2.5rem

.section-3
    height: 63.5rem
    margin-bottom: 13.9rem
    display: flex
    justify-content: center
    @include respond(tab-land)
        margin-bottom: 9rem
    @include respond(tab-port)
        height: auto
        margin-bottom: 7rem
    @include respond(phone)
        height: auto
    &__wrapper
        width: 100%
        position: relative
        background-color: $color-white
    &__img
        display: block
        width: 100%
        height: auto
    &__title
        font-size: 5rem
        line-height: 6.5rem
        color: #292F36
        @include respond(tab-land)
            padding-top: 0
            margin-bottom: 2rem
        @include respond(tab-port)
            width: 550px
            text-align: center
            padding-top: 5rem
        @include respond(phone)
            width: 100%
    &__text
        font-size: 2.2rem
        line-height: 3.3rem
        color: #4D5053
        text-align: left
        display: block
        width: 510px
        @include respond(tab-land)
            width: 450px
        @include respond(tab-port)
            color: #292F36
            width: 550px
            text-align: center
            padding-top: 5rem
            font-size: 2.5rem
        @include respond(phone)
            width: 100%
            line-height: 5.5rem
            font-size: 3.5rem
            padding-top: 2rem
    &__call-us
        width: 532px
        display: flex
        justify-content: left
        @include respond(tab-port)
            justify-content: center
            color: #292F36
        @include respond(phone)
            width: 100%
    &__callpic
        width: 93px
        height: 93px
        background-color: #F4F0EC
        border-radius: 50px
        position: relative
        margin-right: 2rem
        @include respond(phone)
            width: 70px
            height: 70px
        img
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 34px
            @include respond(phone)
                width: 30px
    &__calltext
        width: 154px
        height: 79px
        padding-top: 0.6rem
        @include respond(tab-land)
            width: 170px
    &__telnum
        font-family: 'Jost'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 36px
        letter-spacing: 0.22px
        color: #4D5053
        @include respond(tab-port)
            color: #292F36
        @include respond(phone)
            font-size: 20px
    &__teltext
        font-family: 'Jost'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 33px
        letter-spacing: 0.22px
        @include respond(tab-port)
            color: #292F36
        @include respond(phone)
            font-size: 18px

    &__button
        position: relative
        background-color: #292F36
        width: 263px
        height: 71px
        border-radius: 18px
        @include respond(phone)
            width: 200px
            height: 50px
            border-radius: 15px
    &__link
        text-decoration: none
        display: flex
        width: 263px
        height: 71px
        @include respond(phone)
            width: 200px
            height: 50px
            border-radius: 15px
    &__btntext
        font-family: 'Jost'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 27px
        letter-spacing: 0.72px
        color: #FFFFFF
        width: 196px
        padding-top: 21px
        padding-left: 34px
        margin-right: 16px
        @include respond(phone)
            padding-top: 11px
            padding-left: 27px

    &__arr
        width: 28px
        height: 56px
        padding-top: 15px
        position: relative
        @include respond(phone)
            display: none
        &_h
            position: absolute
            top: 36px
            left: 0px
            @include respond(tab-land)
                top: 33px
        &_v
            position: absolute
            top: 19px
            right: 0px
            @include respond(tab-land)
                top: 15px
.block-3
    display: grid
    grid-template-columns: 60.8rem 59.2rem
    grid-template-rows: 17rem 17.4rem 13.3rem 15.8rem
    grid-template-areas: "title image" "text image" "call-us image" "button image"
    @include respond(tab-land)
        grid-template-columns: 450px 450px
        grid-template-rows: 170px 174px 133px 158px
    @include respond(tab-port)
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/sect-3-img.png") center / cover no-repeat
        grid-template-columns: 100%
        grid-template-rows: 170px 174px 133px 158px
        grid-template-areas: "title" "text" "call-us" "button"
        justify-items: center
    @include respond(phone)
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../img/sect-3-img.png") center / cover no-repeat
        grid-template-columns: 100%
        grid-template-rows: 100px 174px 100px 100px
        justify-items: center
        padding: 0 calc(50% - 140px)
    &__title
        grid-area: title
        padding-top: 4rem
        @include respond(tab-land)
            padding-top: 2rem
    &__text
        grid-area: text
        padding-top: 4.2rem
        @include respond(tab-land)
            padding-top: 1rem
    &__call-us
        grid-area: call-us
        padding-top: 4.2rem
        @include respond(tab-land)
            padding-top: 2rem
    &__button
        grid-area: button
        padding-top: 5rem
        @include respond(tab-land)
            padding-top: 2rem
    &__image
        grid-area: image
        align-self: center
        @include respond(tab-port)
            display: none

.section-4
    margin-bottom: 14rem
    position: relative
    display: flex
    justify-content: center
    @include respond(tab-land)
        margin-bottom: 9rem
    &__cards
        @include respond(tab-port)
            display: none
    &__mobile
        display: none
        @include respond(tab-port)
            display: block
    &__wrapper
        background-color: #F4F0EC
        width: 100%
        height: 67.5rem
        border-radius: 7rem
        @include respond(phone)
            height: 65rem
    &__title
        text-align: center
        padding-top: 10.3rem
        margin-bottom: 4.7rem
        color: #292F36
        text-align: center
        font-family: DM Serif Display
        font-size: 4.5rem
        font-style: normal
        font-weight: 400
        line-height: 5.85rem
        letter-spacing: .022rem
        @include respond(phone)
            padding-top: 3.5rem
            margin-bottom: 1rem

.section-5
    margin-bottom: 10rem
    display: flex
    justify-content: center
    @include respond(tab-land)
        margin-bottom: 8rem
    @include respond(tab-port)
        margin-bottom: 3rem
    &__wrapper
        width: 100%
        display: flex
        flex-wrap: wrap
        @include respond(tab-land)
            justify-content: space-around

.section-6
    height: 185rem
    margin-bottom: 8rem
    display: flex
    justify-content: center
    @include respond(tab-land)
        height: 170rem
        margin-bottom: 5rem
    @include respond(tab-port)
        height: auto
    @include respond(phone)
        height: auto
        margin-bottom: 10rem

.section-7
    height: 47.5rem
    margin-bottom: 14.5rem
    background: #F4F0EC
    padding-top: 14rem
    display: flex
    justify-content: center
    @include respond(tab-land)
        align-items: center
        height: 40rem
        padding-top: 0
        margin-bottom: 9rem
    @include respond(tab-port)
        margin-bottom: 5rem

.counters
    width: 100%
    display: flex
    @include respond(phone)
        justify-content: space-between
    &__box
        width: 28.8rem
        height: 19.5rem
        background: #F4F0EC
    &__box:not(:last-child)
        border-right: 1px solid #CDA274
        margin-right: 1.6rem
        @include respond(phone)
            margin-right: 0

    &__digits
        display: block
        color: #CDA274
        text-align: center
        font-family: DM Serif Display
        font-size: 8.5rem
        font-style: normal
        font-weight: 400
        line-height: 12.75rem
        letter-spacing: 0.17rem
    &__text
        display: block
        color: #4D5053
        text-align: center
        font-family: Jost
        font-size: 2.2rem
        font-style: normal
        font-weight: 400
        line-height: 3.3rem
        letter-spacing: 0.022rem
        @include respond(phone)
            padding: 0 2px

.section-8
    height: 133rem
    padding-top: 1.5rem
    margin-bottom: 10rem
    display: flex
    justify-content: center
    @include respond(tab-land)
        height: 212rem
        margin-bottom: 8rem
    @include respond(tab-port)
        height: auto
        margin-bottom: 5rem
    @include respond(phone)
        height: auto
        margin-bottom: 10rem

.section-9
    margin-bottom: 7.98rem
    display: flex
    justify-content: center
    @include respond(tab-land)
        margin-bottom: 5rem
    &__wrapper
        width: 100%
        height: 41.4rem
        background-color: #292F36
        border-radius: 7rem
        padding-top: 10rem
        @include respond(tab-port)
            height: 38rem
            padding-top: 8rem
.joinus
    display: flex
    flex-direction: column
    align-items: center
    &__title
        color: #FFF
        text-align: center
        font-family: DM Serif Display
        font-size: 5rem
        font-style: normal
        font-weight: 400
        line-height: 7.5rem
        letter-spacing: 0.022rem
        margin-bottom: 0.9rem
    &__text
        color: #FFF
        text-align: center
        font-family: Jost
        font-size: 2.2rem
        font-style: normal
        font-weight: 400
        line-height: 3.3rem
        letter-spacing: 0.022rem
        margin-bottom: 3.1rem
        @include respond(phone)
            font-size: 2.6rem
    &__button
        width: 24.1rem
        height: 7.1rem
        background-color: #CDA274
        border-radius: 1.8rem
        filter: drop-shadow(1px 0px 18px rgba(0, 0, 0, 0.20))
    &__link
        position: relative
        display: flex
        align-items: center
        width: 24.1rem
        height: 7.1rem
        text-decoration: none
    &__btntext
        color: #FFF
        padding-left: 3.4rem
        font-family: Jost
        font-size: 1.8rem
        font-style: normal
        font-weight: 400
        line-height: 2.7rem
        letter-spacing: 0.022rem
        @include respond(phone)
            font-size: 2.6rem
            padding-left: 2.4rem
    &__arr_h
        position: absolute
        top: 3.6rem
        right: -6.8rem
    &__arr_v
        position: absolute
        top: 1.8rem
        right: -7rem
        @include respond(tab-land)
            top: 1.7rem
        @include respond(tab-port)
            top: 1.4rem

//     /* Медиаправило для изображения: для мониторов DPR:2 и ширины от 670px или для ширины монитора от 1340px */
//     @media (min-resolution: 192dpi) and (min-width: 670px), (min-width: 1340px)
//         background: url(../../src/img/bg-img-big.png) center / cover no-repeat
