@charset "UTF-8";
/* Цвет текста */
/* основные цвета сайта */
/* черный и белый цвета сайта */
/* тень для кнопок */
/* ширина сетки */
/* отступ между колонками для grid*/
/* размер текста */
/* Стили ссылок */
/* clearfix для float */
/* Grid */
/* Создаем миксин с медиаправилом. В аргументе миксина указываются несколько брекпоинтов (названия произвольные):
 *  - phone
 *  - tab-port
 *  - tab-land
 *  - big-screen
 *       */
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 1280px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 940px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 640px) {
  html {
    font-size: 30%;
  }
}

body {
  background-color: #fff;
}

a {
  -webkit-tap-highlight-color: transparent;
}

.container {
  position: relative;
  width: 1240px;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 0;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 1280px) {
  .container {
    max-width: 940px;
  }
}
@media only screen and (max-width: 940px) {
  .container {
    max-width: 98vw;
  }
}
@media only screen and (max-width: 640px) {
  .container {
    max-width: 98vw;
  }
}

@font-face {
  font-family: "Jost";
  src: local("Jost");
  src: url("fonts/Jost-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Serif Display";
  src: local("DM Serif Display");
  src: url("fonts/DMSerifDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.3rem;
  letter-spacing: 0.022rem;
  color: #4D5053;
}

.text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.022rem;
}

.title {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.22px;
}

.header {
  display: flex;
  justify-content: center;
}
.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10.6rem;
  background-color: #FFFFFF;
  position: relative;
}
.header__logolink {
  width: 177px;
  height: 5rem;
  display: block;
  text-decoration: none;
  position: relative;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .header__logolink {
    width: 120px;
  }
}
.header__logolink_left {
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .header__logolink_left {
    width: 20px;
    height: 20px;
  }
}
.header__logolink_right {
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .header__logolink_right {
    width: 110px;
    height: 17px;
    position: absolute;
    left: 10px;
    top: 3px;
  }
}

.navigation {
  display: block;
}
.navigation__list {
  width: 51.8rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__link {
  text-decoration: none;
}
.navigation__link:link, .navigation__link:visited {
  color: #292F36;
}
.navigation__link:hover {
  color: #CDA274;
}

.row {
  max-width: 120rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 0rem;
}
@media only screen and (max-width: 940px) {
  .row:not(:last-child) {
    margin-bottom: 0rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1280px) {
  .row {
    max-width: 90.1rem;
  }
}
@media only screen and (max-width: 940px) {
  .row {
    max-width: 60rem;
  }
}

.col-1-of-2 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(1 * ((100% - (2 - 1) * 0rem) / 2) + (1 - 1) * 0rem);
  float: left;
}
.col-1-of-2:not(:last-child) {
  margin-right: 0rem;
}
@media only screen and (max-width: 1280px) {
  .col-1-of-2 {
    width: calc(1 * ((100% - (2 - 1) * 0rem) / 2) + (1 - 1) * 0rem);
  }
  .col-1-of-2:not(:last-child) {
    margin-right: 0rem;
  }
}
@media only screen and (max-width: 940px) {
  .col-1-of-2 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.col-1-of-3 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(1 * ((100% - (3 - 1) * 0rem) / 3) + (1 - 1) * 0rem);
  float: left;
}
.col-1-of-3:not(:last-child) {
  margin-right: 0rem;
}
@media only screen and (max-width: 1280px) {
  .col-1-of-3 {
    width: calc(1 * ((100% - (3 - 1) * 0rem) / 3) + (1 - 1) * 0rem);
  }
  .col-1-of-3:not(:last-child) {
    margin-right: 0rem;
  }
}
@media only screen and (max-width: 940px) {
  .col-1-of-3 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.col-2-of-3 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(2 * ((100% - (3 - 1) * 0rem) / 3) + (2 - 1) * 0rem);
  float: left;
}
.col-2-of-3:not(:last-child) {
  margin-right: 0rem;
}
@media only screen and (max-width: 1280px) {
  .col-2-of-3 {
    width: calc(2 * ((100% - (3 - 1) * 0rem) / 3) + (2 - 1) * 0rem);
  }
  .col-2-of-3:not(:last-child) {
    margin-right: 0rem;
  }
}
@media only screen and (max-width: 940px) {
  .col-2-of-3 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.col-1-of-4 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(1 * ((100% - (4 - 1) * 0rem) / 4) + (1 - 1) * 0rem);
  float: left;
}
.col-1-of-4:not(:last-child) {
  margin-right: 0rem;
}
@media only screen and (max-width: 1280px) {
  .col-1-of-4 {
    width: calc(1 * ((100% - (4 - 1) * 0rem) / 4) + (1 - 1) * 0rem);
  }
  .col-1-of-4:not(:last-child) {
    margin-right: 0rem;
  }
}
@media only screen and (max-width: 940px) {
  .col-1-of-4 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.col-2-of-4 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(2 * ((100% - (4 - 1) * 0rem) / 4) + (2 - 1) * 0rem);
  float: left;
}
.col-2-of-4:not(:last-child) {
  margin-right: 0rem;
}
@media only screen and (max-width: 1280px) {
  .col-2-of-4 {
    width: calc(2 * ((100% - (4 - 1) * 0rem) / 4) + (2 - 1) * 0rem);
  }
  .col-2-of-4:not(:last-child) {
    margin-right: 0rem;
  }
}
@media only screen and (max-width: 940px) {
  .col-2-of-4 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.col-3-of-4 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(3 * ((100% - (4 - 1) * 0rem) / 4) + (3 - 1) * 0rem);
  float: left;
}
.col-3-of-4:not(:last-child) {
  margin-right: 0rem;
}
@media only screen and (max-width: 1280px) {
  .col-3-of-4 {
    width: calc(3 * ((100% - (4 - 1) * 0rem) / 4) + (3 - 1) * 0rem);
  }
  .col-3-of-4:not(:last-child) {
    margin-right: 0rem;
  }
}
@media only screen and (max-width: 940px) {
  .col-3-of-4 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.footer {
  height: 608px;
  padding-top: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 940px) {
  .footer {
    height: auto;
    padding-top: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 640px) {
  .footer {
    height: auto;
    margin-bottom: 10px;
  }
}
.footer__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 393px 210px 210px 337px;
  grid-template-rows: 374px 33px;
  column-gap: 16px;
  row-gap: 116px;
  grid-template-areas: "interno pages explore contact" "bottom bottom bottom bottom";
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 1280px) {
  .footer__wrapper {
    height: 500px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 220px 250px 80px;
    row-gap: 0;
    grid-template-areas: "interno pages explore" "contact pages explore" "bottom bottom bottom";
    justify-items: center;
  }
}
@media only screen and (max-width: 940px) {
  .footer__wrapper {
    height: auto;
    grid-template-rows: 180px 230px 40px;
  }
}
@media only screen and (max-width: 640px) {
  .footer__wrapper {
    grid-template-columns: 60% 40%;
    grid-template-rows: 190px 190px 80px;
    grid-template-areas: "interno pages" "contact explore" "bottom bottom";
    column-gap: 0;
    height: auto;
    margin-bottom: 0;
  }
}
.footer__interno {
  grid-area: interno;
}
.footer__pages {
  grid-area: pages;
}
.footer__explore {
  grid-area: explore;
}
.footer__contact {
  grid-area: contact;
  width: 33.7rem;
}
.footer__socials {
  width: 33.3rem;
  height: 5.3rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer__icon:not(:last-child) {
  margin-right: 4rem;
}
.footer__bottom {
  grid-area: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .footer__bottom {
    flex-direction: column;
  }
}

.interno__logo {
  width: 17.7rem;
  margin-bottom: 1.5rem;
}
.interno__text {
  width: 32.6rem;
  margin-bottom: 0.98rem;
}

.footer-menu__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: 0.022rem;
  margin-bottom: 2.1rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .footer-menu__title {
    font-size: 2.8rem;
  }
}
.footer-menu__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.022rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .footer-menu__text {
    font-size: 2.5rem;
  }
}
.footer-menu__text_left {
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .footer-menu__text_left {
    margin-bottom: 10px;
  }
}
.footer-menu__text_link {
  color: #CDA274;
  text-decoration: none;
  padding-left: 0.5rem;
  margin-right: 1rem;
}
.footer-menu__text-top {
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .footer-menu__text-top {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
}
.footer-menu__item {
  list-style: none;
  margin-bottom: 3rem;
}
.footer-menu__link {
  text-decoration: none;
  color: #4D5053;
  font-family: Jost;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.022rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
.footer-menu__link:hover {
  color: #CDA274;
}
@media only screen and (max-width: 640px) {
  .footer-menu__link {
    font-size: 2.5rem;
  }
}

.contact__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: 0.022rem;
  margin-bottom: 2.2rem;
}
.contact__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.022rem;
  margin-bottom: 2.9rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .contact__text {
    font-size: 2.5rem;
  }
}
.contact__link {
  text-decoration: none;
  color: #4D5053;
  font-family: Jost;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.022rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .contact__link {
    font-size: 2.5rem;
  }
}
.contact__link:hover {
  color: #CDA274;
}

.feedback-cards {
  display: flex;
  justify-content: center;
}
.feedback-cards__card {
  background-color: #fff;
  border-radius: 3rem;
  width: 35.4rem;
  height: 28.7rem;
  padding: 4.9rem 3rem 4.5rem 3.5rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
.feedback-cards__card:not(:last-child) {
  margin-right: 1.8rem;
}
@media only screen and (max-width: 1280px) {
  .feedback-cards__card {
    width: 30rem;
    height: 28.7rem;
    padding: 3rem 2rem 3rem 2rem;
  }
}
@media only screen and (max-width: 640px) {
  .feedback-cards__card {
    width: 170px;
    height: 150px;
    padding: 1.5rem;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 3rem;
  }
}
.feedback-cards__topwrapper {
  display: flex;
}
.feedback-cards__photo {
  width: 7.7rem;
  margin-right: 2rem;
  margin-bottom: 2.5rem;
}
.feedback-cards__names {
  width: 14.7rem;
  height: 6.4rem;
  padding-top: 0.5rem;
}
.feedback-cards__name {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: 0.022rem;
}
.feedback-cards__city {
  color: #4D5053;
  font-family: Jost;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.7rem;
  letter-spacing: 0.022rem;
}
.feedback-cards__feedback {
  display: block;
  color: #4D5053;
  font-family: Jost;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.022rem;
  margin: 0 auto;
}
.feedback-cards__feedback_1 {
  width: 24.4rem;
  height: 9rem;
}
.feedback-cards__feedback_2 {
  width: 25.6rem;
  height: 9rem;
}
.feedback-cards__feedback_3 {
  width: 27.4rem;
  height: 9rem;
}
@media only screen and (max-width: 1280px) {
  .feedback-cards__feedback_3 {
    width: 26rem;
  }
}

@media only screen and (max-width: 940px) {
  .logo {
    margin-bottom: 50px;
  }
}

.logo-1 {
  width: 18rem;
  padding-left: 4.8rem;
  margin-right: 12.5rem;
}
@media only screen and (max-width: 1280px) {
  .logo-1 {
    padding-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 940px) {
  .logo-1 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.logo-2 {
  width: 10.3rem;
  margin-right: 11rem;
}
@media only screen and (max-width: 1280px) {
  .logo-2 {
    padding-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 940px) {
  .logo-2 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.logo-3 {
  width: 16.4rem;
  margin-right: 8.9rem;
}
@media only screen and (max-width: 1280px) {
  .logo-3 {
    padding-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 940px) {
  .logo-3 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.logo-4 {
  width: 14.5rem;
  margin-right: 11.2rem;
}
@media only screen and (max-width: 1280px) {
  .logo-4 {
    padding-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 940px) {
  .logo-4 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.logo-5 {
  width: 11.7rem;
}
@media only screen and (max-width: 940px) {
  .logo-5 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.projects {
  width: 100%;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 7.64rem 15.6rem 81.6rem 81.6rem;
  grid-template-areas: "title title" "text text" "card-1 card-2" "card-3 card-4";
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 1280px) {
  .projects {
    grid-template-rows: 7.64rem 15.6rem 73rem 73rem;
  }
}
@media only screen and (max-width: 940px) {
  .projects {
    grid-template-rows: repeat(4, auto);
  }
}
@media only screen and (max-width: 640px) {
  .projects {
    grid-template-columns: 100%;
    grid-template-rows: 7.64rem 24rem auto auto auto auto;
    grid-template-areas: "title" "text" "card-1" "card-2" "card-3" "card-4";
    justify-items: center;
  }
}
.projects__title {
  grid-area: title;
  padding-top: 1.34rem;
}
@media only screen and (max-width: 940px) {
  .projects__title {
    margin-bottom: 10px;
  }
}
.projects__title h4 {
  color: #292F36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 4.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6.24rem;
  letter-spacing: 0.022rem;
}
.projects__text {
  grid-area: text;
  padding-top: 2rem;
}
@media only screen and (max-width: 940px) {
  .projects__text {
    margin-bottom: 20px;
  }
}
.projects__text p {
  color: #4D5053;
  text-align: center;
  font-family: Jost;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.022rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .projects__text p {
    font-size: 3rem;
    line-height: 5rem;
  }
}
.projects__br {
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .projects__br {
    display: none;
  }
}
.projects__img {
  display: block;
  margin-bottom: 2.5rem;
}
.projects__card {
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 1280px) {
  .projects__card {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 640px) {
  .projects__card {
    width: 80%;
    max-width: 400px;
  }
}
.projects__card_1 {
  grid-area: card-1;
}
.projects__card_2 {
  grid-area: card-2;
}
.projects__card_3 {
  grid-area: card-3;
}
.projects__card_4 {
  grid-area: card-4;
}
.projects__cardbottom {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 940px) {
  .projects__cardbottom {
    margin-bottom: 20px;
  }
}
.projects__description {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: 0.022rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .projects__description {
    font-size: 3.5rem;
    margin-bottom: 5px;
  }
}
.projects__stylename {
  color: #4D5053;
  font-family: Jost;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.022rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .projects__stylename {
    font-size: 3rem;
  }
}
.projects__link {
  display: block;
  width: 7rem;
  height: 7rem;
  text-decoration: none;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .projects__link {
    width: 10rem;
    height: 10rem;
  }
}
.projects__button {
  position: relative;
  width: 7rem;
  height: 7rem;
  flex-shrink: 0;
  border-radius: 10rem;
  background: #F4F0EC;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .projects__button {
    width: 10rem;
    height: 10rem;
  }
}
.projects__buttonarrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blogs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 21.8rem 55.5rem 55.5rem;
  grid-template-areas: "title title title" "card-1 card-2 card-3" "card-4 card-5 card-6";
  column-gap: 20px;
  padding-top: 1.3rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 1280px) {
  .blogs {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 160px 550px 550px 550px;
    row-gap: 20px;
    grid-template-areas: "title title" "card-1 card-2" "card-3 card-4" "card-5 card-6";
  }
}
@media only screen and (max-width: 940px) {
  .blogs {
    grid-template-rows: repeat(4, auto);
  }
}
@media only screen and (max-width: 640px) {
  .blogs {
    grid-template-areas: "title" "card-1" "card-2" "card-3" "card-4" "card-5" "card-6";
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, auto);
    margin-bottom: 10px;
    row-gap: 10px;
  }
}
.blogs__title {
  grid-area: title;
}
.blogs__title h5 {
  color: #292F36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6.24rem;
  letter-spacing: 0.022rem;
  margin-bottom: 2.1rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .blogs__title h5 {
    font-size: 4.7rem;
  }
}
.blogs__title p {
  color: #4D5053;
  text-align: center;
  font-family: Jost;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.022rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .blogs__title p {
    font-size: 3rem;
    line-height: 5rem;
  }
}
.blogs__br {
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .blogs__br {
    display: none;
  }
}
.blogs__descrfield {
  position: absolute;
  top: 24.4rem;
  left: 4.5rem;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0.9rem 1rem 1.1rem 1rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 1280px) {
  .blogs__descrfield {
    top: 50%;
  }
}
@media only screen and (max-width: 940px) {
  .blogs__descrfield {
    top: 40%;
  }
}
@media only screen and (max-width: 640px) {
  .blogs__descrfield {
    top: 50%;
  }
}
.blogs__descrfield p {
  color: #4D5053;
  font-family: Jost;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.022rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .blogs__descrfield p {
    font-size: 12px;
  }
}
.blogs__card {
  padding-top: 2.1rem;
  padding-left: 2.1rem;
  position: relative;
  border-radius: 6.2rem;
  border: 1px solid #E7E7E7;
  height: 51.5rem;
  margin-bottom: 4rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 1280px) {
  .blogs__card {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    justify-self: center;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media only screen and (max-width: 640px) {
  .blogs__card {
    width: 80%;
    max-width: 400px;
  }
}
.blogs__card_1 {
  grid-area: card-1;
}
.blogs__card_2 {
  grid-area: card-2;
}
.blogs__card_3 {
  grid-area: card-3;
}
.blogs__card_4 {
  grid-area: card-4;
}
.blogs__card_5 {
  grid-area: card-5;
}
.blogs__card_6 {
  grid-area: card-6;
}
@media only screen and (max-width: 1280px) {
  .blogs__img {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  }
}
.blogs__description {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .blogs__description {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
.blogs__cardbottom {
  width: auto;
  height: 6.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.96rem;
}
@media only screen and (max-width: 1280px) {
  .blogs__cardbottom {
    width: auto;
    margin-bottom: 20px;
  }
}
.blogs__date {
  color: #4D5053;
  font-family: Jost;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.022rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .blogs__date {
    font-size: 2.2rem;
  }
}
.blogs__button {
  position: relative;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 10rem;
  background: #F4F0EC;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 940px) {
  .blogs__button {
    width: 7rem;
    height: 7rem;
  }
}
@media only screen and (max-width: 640px) {
  .blogs__button {
    width: 10rem;
    height: 10rem;
  }
}
.blogs__buttonarrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blogs__link {
  text-decoration: none;
  display: block;
  width: 5.2rem;
  height: 5.2rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 940px) {
  .blogs__link {
    width: 7rem;
    height: 7rem;
  }
}
@media only screen and (max-width: 640px) {
  .blogs__link {
    width: 10rem;
    height: 10rem;
  }
}

.swiper {
  width: 100%;
  height: auto;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .swiper {
    height: 200px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 20px;
  background: #F4F0EC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 77px;
  height: auto;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
  color: #292F36;
}

.swiper-pagination-bullet-active {
  background: #292F36;
}

.hamb {
  display: none;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .hamb {
    display: flex;
    align-items: center;
  }
}
.hamb__field {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hamb__bar {
  display: block;
  width: 30px;
  height: 2px;
  margin: 4px auto;
  background-color: #4D5053;
  transition: 0.2s;
}

.popup-menu {
  display: none;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .popup-menu {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 50px);
    position: absolute;
    top: 50px;
    right: 100%;
    background-color: #fff;
    opacity: 0.9;
    transition: 0.2s;
    z-index: 100;
  }
}

.popup-menu.open {
  right: 0;
}

.hamb__field.active .hamb__bar:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
.hamb__field.active .hamb__bar:nth-child(2) {
  opacity: 0;
}
.hamb__field.active .hamb__bar:nth-child(3) {
  transform: translateY(-10px) rotate(45deg);
}

body.noscroll {
  overflow: hidden;
}

.header__wrapper .navigation {
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .header__wrapper .navigation {
    display: none;
  }
}

.popup-menu .navigation__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding: 50px 0;
  overflow: auto;
}
.popup-menu .navigation__list > li {
  margin-bottom: 30px;
}

.section-about {
  max-width: 1440px;
  height: 83.1rem;
  background: url("../img/bg-img.png") center/cover no-repeat;
  margin-bottom: 8.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1280px) {
  .section-about {
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 940px) {
  .section-about {
    background: url("../img/bg-img-medium.png") center/cover no-repeat;
    margin-bottom: 5rem;
  }
}
.section-about__content {
  position: absolute;
  top: 19.5rem;
  left: 12rem;
  width: 60rem;
  height: 38.6rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 1280px) {
  .section-about__content {
    left: 22rem;
  }
}
@media only screen and (max-width: 940px) {
  .section-about__content {
    left: 12rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 640px) {
  .section-about__content {
    left: 3rem;
    width: 280px;
  }
}
.section-about__content h1 {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 8rem;
  line-height: 9.6rem;
  letter-spacing: 0.022rem;
  color: #292F36;
  margin-bottom: 1.9rem;
}
@media only screen and (max-width: 940px) {
  .section-about__content h1 {
    margin-bottom: 3.9rem;
    text-align: center;
  }
}
.section-about__text {
  margin-bottom: 3.5rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 940px) {
  .section-about__text {
    margin-bottom: 7rem;
    text-align: center;
    color: #232425;
  }
}
@media only screen and (max-width: 640px) {
  .section-about__text {
    font-size: 16px;
  }
}

.section-about__button {
  position: relative;
  background-color: #292F36;
  width: 20.7rem;
  height: 7.1rem;
  border: 2px solid #292F36;
  border-radius: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .section-about__button {
    width: 160px;
    justify-content: center;
  }
}
.section-about__button p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.72px;
  color: #FFFFFF;
  padding-left: 1.5rem;
  margin-right: 2.1rem;
}

.section-about__arr {
  height: 7.1rem;
  position: relative;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .section-about__arr {
    display: none;
  }
}
.section-about__arr_h {
  position: absolute;
  top: 3.6rem;
  right: 2.1rem;
}
.section-about__arr_v {
  position: absolute;
  top: 1.8rem;
  right: 2rem;
}
@media only screen and (max-width: 940px) {
  .section-about__arr_v {
    top: 1.4rem;
  }
}

.section-2 {
  height: 39.5rem;
  margin-bottom: 11.5rem;
  display: flex;
  justify-content: center;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 1280px) {
  .section-2 {
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 940px) {
  .section-2 {
    height: auto;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 640px) {
  .section-2 {
    height: auto;
  }
}
.section-2__wrapper {
  background-color: #FFFFFF;
  width: 100%;
}
@media only screen and (max-width: 940px) {
  .section-2__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.section-2__title {
  text-align: center;
  font-size: 2.5rem;
  line-height: 3.9rem;
  color: #292F36;
  padding-top: 7.5rem;
  margin-bottom: 1.7rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 940px) {
  .section-2__title {
    padding-top: 2rem;
  }
}
@media only screen and (max-width: 640px) {
  .section-2__title {
    font-size: 3.5rem;
  }
}
.section-2__text {
  display: block;
  text-align: center;
  font-size: 2.2rem;
  line-height: 3.3rem;
  color: #4D5053;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .section-2__text {
    font-size: 2.5rem;
  }
}
.section-2__text_1 {
  padding-left: 4.2rem;
  padding-right: 4.1rem;
  margin-bottom: 4.8rem;
}
@media only screen and (max-width: 1280px) {
  .section-2__text_1 {
    margin-bottom: 1.8rem;
  }
}
.section-2__text_2 {
  padding-left: 5.2rem;
  padding-right: 5.1rem;
  margin-bottom: 1.5rem;
}
.section-2__text_3 {
  padding-left: 5.2rem;
  padding-right: 5.2rem;
  margin-bottom: 1.5rem;
}
.section-2__link {
  display: block;
  margin: 0 auto;
  width: 32rem;
  height: 4.7rem;
  text-align: center;
  text-decoration: none;
  color: #4D5053;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
.section-2__link span {
  color: #CDA274;
  padding-left: 0.6rem;
}
@media only screen and (max-width: 640px) {
  .section-2__link {
    font-size: 2.5rem;
  }
}

.section-3 {
  height: 63.5rem;
  margin-bottom: 13.9rem;
  display: flex;
  justify-content: center;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 1280px) {
  .section-3 {
    margin-bottom: 9rem;
  }
}
@media only screen and (max-width: 940px) {
  .section-3 {
    height: auto;
    margin-bottom: 7rem;
  }
}
@media only screen and (max-width: 640px) {
  .section-3 {
    height: auto;
  }
}
.section-3__wrapper {
  width: 100%;
  position: relative;
  background-color: #FFFFFF;
}
.section-3__img {
  display: block;
  width: 100%;
  height: auto;
}
.section-3__title {
  font-size: 5rem;
  line-height: 6.5rem;
  color: #292F36;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 1280px) {
  .section-3__title {
    padding-top: 0;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 940px) {
  .section-3__title {
    width: 550px;
    text-align: center;
    padding-top: 5rem;
  }
}
@media only screen and (max-width: 640px) {
  .section-3__title {
    width: 100%;
  }
}
.section-3__text {
  font-size: 2.2rem;
  line-height: 3.3rem;
  color: #4D5053;
  text-align: left;
  display: block;
  width: 510px;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 1280px) {
  .section-3__text {
    width: 450px;
  }
}
@media only screen and (max-width: 940px) {
  .section-3__text {
    color: #292F36;
    width: 550px;
    text-align: center;
    padding-top: 5rem;
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 640px) {
  .section-3__text {
    width: 100%;
    line-height: 5.5rem;
    font-size: 3.5rem;
    padding-top: 2rem;
  }
}
.section-3__call-us {
  width: 532px;
  display: flex;
  justify-content: left;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 940px) {
  .section-3__call-us {
    justify-content: center;
    color: #292F36;
  }
}
@media only screen and (max-width: 640px) {
  .section-3__call-us {
    width: 100%;
  }
}
.section-3__callpic {
  width: 93px;
  height: 93px;
  background-color: #F4F0EC;
  border-radius: 50px;
  position: relative;
  margin-right: 2rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .section-3__callpic {
    width: 70px;
    height: 70px;
  }
}
.section-3__callpic img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34px;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .section-3__callpic img {
    width: 30px;
  }
}
.section-3__calltext {
  width: 154px;
  height: 79px;
  padding-top: 0.6rem;
}
@media only screen and (max-width: 1280px) {
  .section-3__calltext {
    width: 170px;
  }
}
.section-3__telnum {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.22px;
  color: #4D5053;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 940px) {
  .section-3__telnum {
    color: #292F36;
  }
}
@media only screen and (max-width: 640px) {
  .section-3__telnum {
    font-size: 20px;
  }
}
.section-3__teltext {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 940px) {
  .section-3__teltext {
    color: #292F36;
  }
}
@media only screen and (max-width: 640px) {
  .section-3__teltext {
    font-size: 18px;
  }
}
.section-3__button {
  position: relative;
  background-color: #292F36;
  width: 263px;
  height: 71px;
  border-radius: 18px;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .section-3__button {
    width: 200px;
    height: 50px;
    border-radius: 15px;
  }
}
.section-3__link {
  text-decoration: none;
  display: flex;
  width: 263px;
  height: 71px;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .section-3__link {
    width: 200px;
    height: 50px;
    border-radius: 15px;
  }
}
.section-3__btntext {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.72px;
  color: #FFFFFF;
  width: 196px;
  padding-top: 21px;
  padding-left: 34px;
  margin-right: 16px;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .section-3__btntext {
    padding-top: 11px;
    padding-left: 27px;
  }
}
.section-3__arr {
  width: 28px;
  height: 56px;
  padding-top: 15px;
  position: relative;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .section-3__arr {
    display: none;
  }
}
.section-3__arr_h {
  position: absolute;
  top: 36px;
  left: 0px;
}
@media only screen and (max-width: 1280px) {
  .section-3__arr_h {
    top: 33px;
  }
}
.section-3__arr_v {
  position: absolute;
  top: 19px;
  right: 0px;
}
@media only screen and (max-width: 1280px) {
  .section-3__arr_v {
    top: 15px;
  }
}

.block-3 {
  display: grid;
  grid-template-columns: 60.8rem 59.2rem;
  grid-template-rows: 17rem 17.4rem 13.3rem 15.8rem;
  grid-template-areas: "title image" "text image" "call-us image" "button image";
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 1280px) {
  .block-3 {
    grid-template-columns: 450px 450px;
    grid-template-rows: 170px 174px 133px 158px;
  }
}
@media only screen and (max-width: 940px) {
  .block-3 {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/sect-3-img.png") center/cover no-repeat;
    grid-template-columns: 100%;
    grid-template-rows: 170px 174px 133px 158px;
    grid-template-areas: "title" "text" "call-us" "button";
    justify-items: center;
  }
}
@media only screen and (max-width: 640px) {
  .block-3 {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../img/sect-3-img.png") center/cover no-repeat;
    grid-template-columns: 100%;
    grid-template-rows: 100px 174px 100px 100px;
    justify-items: center;
    padding: 0 calc(50% - 140px);
  }
}
.block-3__title {
  grid-area: title;
  padding-top: 4rem;
}
@media only screen and (max-width: 1280px) {
  .block-3__title {
    padding-top: 2rem;
  }
}
.block-3__text {
  grid-area: text;
  padding-top: 4.2rem;
}
@media only screen and (max-width: 1280px) {
  .block-3__text {
    padding-top: 1rem;
  }
}
.block-3__call-us {
  grid-area: call-us;
  padding-top: 4.2rem;
}
@media only screen and (max-width: 1280px) {
  .block-3__call-us {
    padding-top: 2rem;
  }
}
.block-3__button {
  grid-area: button;
  padding-top: 5rem;
}
@media only screen and (max-width: 1280px) {
  .block-3__button {
    padding-top: 2rem;
  }
}
.block-3__image {
  grid-area: image;
  align-self: center;
}
@media only screen and (max-width: 940px) {
  .block-3__image {
    display: none;
  }
}

.section-4 {
  margin-bottom: 14rem;
  position: relative;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1280px) {
  .section-4 {
    margin-bottom: 9rem;
  }
}
@media only screen and (max-width: 940px) {
  .section-4__cards {
    display: none;
  }
}
.section-4__mobile {
  display: none;
}
@media only screen and (max-width: 940px) {
  .section-4__mobile {
    display: block;
  }
}
.section-4__wrapper {
  background-color: #F4F0EC;
  width: 100%;
  height: 67.5rem;
  border-radius: 7rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .section-4__wrapper {
    height: 65rem;
  }
}
.section-4__title {
  text-align: center;
  padding-top: 10.3rem;
  margin-bottom: 4.7rem;
  color: #292F36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.85rem;
  letter-spacing: 0.022rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .section-4__title {
    padding-top: 3.5rem;
    margin-bottom: 1rem;
  }
}

.section-5 {
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1280px) {
  .section-5 {
    margin-bottom: 8rem;
  }
}
@media only screen and (max-width: 940px) {
  .section-5 {
    margin-bottom: 3rem;
  }
}
.section-5__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1280px) {
  .section-5__wrapper {
    justify-content: space-around;
  }
}

.section-6 {
  height: 185rem;
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 1280px) {
  .section-6 {
    height: 170rem;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 940px) {
  .section-6 {
    height: auto;
  }
}
@media only screen and (max-width: 640px) {
  .section-6 {
    height: auto;
    margin-bottom: 10rem;
  }
}

.section-7 {
  height: 47.5rem;
  margin-bottom: 14.5rem;
  background: #F4F0EC;
  padding-top: 14rem;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1280px) {
  .section-7 {
    align-items: center;
    height: 40rem;
    padding-top: 0;
    margin-bottom: 9rem;
  }
}
@media only screen and (max-width: 940px) {
  .section-7 {
    margin-bottom: 5rem;
  }
}

.counters {
  width: 100%;
  display: flex;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .counters {
    justify-content: space-between;
  }
}
.counters__box {
  width: 28.8rem;
  height: 19.5rem;
  background: #F4F0EC;
}
.counters__box:not(:last-child) {
  border-right: 1px solid #CDA274;
  margin-right: 1.6rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .counters__box:not(:last-child) {
    margin-right: 0;
  }
}
.counters__digits {
  display: block;
  color: #CDA274;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 8.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 12.75rem;
  letter-spacing: 0.17rem;
}
.counters__text {
  display: block;
  color: #4D5053;
  text-align: center;
  font-family: Jost;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.022rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .counters__text {
    padding: 0 2px;
  }
}

.section-8 {
  height: 133rem;
  padding-top: 1.5rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 1280px) {
  .section-8 {
    height: 212rem;
    margin-bottom: 8rem;
  }
}
@media only screen and (max-width: 940px) {
  .section-8 {
    height: auto;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 640px) {
  .section-8 {
    height: auto;
    margin-bottom: 10rem;
  }
}

.section-9 {
  margin-bottom: 7.98rem;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1280px) {
  .section-9 {
    margin-bottom: 5rem;
  }
}
.section-9__wrapper {
  width: 100%;
  height: 41.4rem;
  background-color: #292F36;
  border-radius: 7rem;
  padding-top: 10rem;
}
@media only screen and (max-width: 940px) {
  .section-9__wrapper {
    height: 38rem;
    padding-top: 8rem;
  }
}

.joinus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.joinus__title {
  color: #FFF;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 7.5rem;
  letter-spacing: 0.022rem;
  margin-bottom: 0.9rem;
}
.joinus__text {
  color: #FFF;
  text-align: center;
  font-family: Jost;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.022rem;
  margin-bottom: 3.1rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .joinus__text {
    font-size: 2.6rem;
  }
}
.joinus__button {
  width: 24.1rem;
  height: 7.1rem;
  background-color: #CDA274;
  border-radius: 1.8rem;
  filter: drop-shadow(1px 0px 18px rgba(0, 0, 0, 0.2));
}
.joinus__link {
  position: relative;
  display: flex;
  align-items: center;
  width: 24.1rem;
  height: 7.1rem;
  text-decoration: none;
}
.joinus__btntext {
  color: #FFF;
  padding-left: 3.4rem;
  font-family: Jost;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.7rem;
  letter-spacing: 0.022rem;
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
}
@media only screen and (max-width: 640px) {
  .joinus__btntext {
    font-size: 2.6rem;
    padding-left: 2.4rem;
  }
}
.joinus__arr_h {
  position: absolute;
  top: 3.6rem;
  right: -6.8rem;
}
.joinus__arr_v {
  position: absolute;
  top: 1.8rem;
  right: -7rem;
}
@media only screen and (max-width: 1280px) {
  .joinus__arr_v {
    top: 1.7rem;
  }
}
@media only screen and (max-width: 940px) {
  .joinus__arr_v {
    top: 1.4rem;
  }
}/*# sourceMappingURL=style.css.map */