@charset "UTF-8";
/* Цвет текста */
/* основные цвета сайта */
/* черный и белый цвета сайта */
/* тень для кнопок */
/* ширина сетки */
/* отступ между колонками для grid*/
/* размер текста */
/* Стили ссылок */
/* clearfix для float */
/* Grid */
/* Создаем миксин с медиаправилом. В аргументе миксина указываются несколько брекпоинтов (названия произвольные):
 *  - phone
 *  - tab-port
 *  - tab-land
 *  - big-screen
 *       */
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* Поскольку используем max-width, то медиаправила записываются от большего разрешения к меньшему и в конце пишется правило под min-width */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* only screen означает, что правило сработает только для экранов (на печать, например, не сработает) */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media only screen and (max-width: 1240px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 30%;
  }
}

body {
  background-color: #fff;
}

a {
  -webkit-tap-highlight-color: transparent;
}

.container {
  position: relative;
  max-width: 124rem;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 0;
  margin: auto;
}

body {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.3rem;
  letter-spacing: 0.022rem;
  color: #4D5053;
}

.paragraph {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.3rem;
  letter-spacing: 0.022rem;
  color: #4D5053;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media only screen and (max-width: 1240px) {
  .paragraph {
    font-size: 2rem;
  }
}

.title-s2 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292F36;
}

.title-s3 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.22px;
  color: #292F36;
}

/* выравнивание текста в обертке */
.text-align-center {
  text-align: center;
}

/* отступы */
.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media only screen and (max-width: 900px) {
  .margin-bottom-50px {
    margin-bottom: 7rem;
  }
}

.margin-bottom-80px {
  margin-bottom: 8rem;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media only screen and (max-width: 900px) {
  .margin-bottom-80px {
    margin-bottom: 5rem;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10.6rem;
  background-color: #FFFFFF;
}

.navigation__list {
  width: 51.8rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__link {
  text-decoration: none;
}
.navigation__link:link, .navigation__link:visited {
  color: #292F36;
}
.navigation__link:hover {
  color: #CDA274;
}

.row {
  max-width: 120rem;
  margin: 0 auto;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.row:not(:last-child) {
  margin-bottom: 0rem;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
@media only screen and (max-width: 900px) {
  .row:not(:last-child) {
    margin-bottom: 0rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1240px) {
  .row {
    max-width: 90.1rem;
  }
}
@media only screen and (max-width: 900px) {
  .row {
    max-width: 60rem;
  }
}

.col-1-of-2 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(1 * ((100% - (2 - 1) * 0rem) / 2) + (1 - 1) * 0rem);
  float: left;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.col-1-of-2:not(:last-child) {
  margin-right: 0rem;
}
@media only screen and (max-width: 1240px) {
  .col-1-of-2 {
    width: calc(1 * ((100% - (2 - 1) * 0rem) / 2) + (1 - 1) * 0rem);
  }
  .col-1-of-2:not(:last-child) {
    margin-right: 0rem;
  }
}
@media only screen and (max-width: 900px) {
  .col-1-of-2 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.col-1-of-3 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(1 * ((100% - (3 - 1) * 0rem) / 3) + (1 - 1) * 0rem);
  float: left;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.col-1-of-3:not(:last-child) {
  margin-right: 0rem;
}
@media only screen and (max-width: 1240px) {
  .col-1-of-3 {
    width: calc(1 * ((100% - (3 - 1) * 0rem) / 3) + (1 - 1) * 0rem);
  }
  .col-1-of-3:not(:last-child) {
    margin-right: 0rem;
  }
}
@media only screen and (max-width: 900px) {
  .col-1-of-3 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.col-2-of-3 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(2 * ((100% - (3 - 1) * 0rem) / 3) + (2 - 1) * 0rem);
  float: left;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.col-2-of-3:not(:last-child) {
  margin-right: 0rem;
}
@media only screen and (max-width: 1240px) {
  .col-2-of-3 {
    width: calc(2 * ((100% - (3 - 1) * 0rem) / 3) + (2 - 1) * 0rem);
  }
  .col-2-of-3:not(:last-child) {
    margin-right: 0rem;
  }
}
@media only screen and (max-width: 900px) {
  .col-2-of-3 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.col-1-of-4 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(1 * ((100% - (4 - 1) * 0rem) / 4) + (1 - 1) * 0rem);
  float: left;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.col-1-of-4:not(:last-child) {
  margin-right: 0rem;
}
@media only screen and (max-width: 1240px) {
  .col-1-of-4 {
    width: calc(1 * ((100% - (4 - 1) * 0rem) / 4) + (1 - 1) * 0rem);
  }
  .col-1-of-4:not(:last-child) {
    margin-right: 0rem;
  }
}
@media only screen and (max-width: 900px) {
  .col-1-of-4 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.col-2-of-4 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(2 * ((100% - (4 - 1) * 0rem) / 4) + (2 - 1) * 0rem);
  float: left;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.col-2-of-4:not(:last-child) {
  margin-right: 0rem;
}
@media only screen and (max-width: 1240px) {
  .col-2-of-4 {
    width: calc(2 * ((100% - (4 - 1) * 0rem) / 4) + (2 - 1) * 0rem);
  }
  .col-2-of-4:not(:last-child) {
    margin-right: 0rem;
  }
}
@media only screen and (max-width: 900px) {
  .col-2-of-4 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.col-3-of-4 {
  /* формула: кол-во спаренных колонок * ширина одной колонки + кол-во промежутков*/
  width: calc(3 * ((100% - (4 - 1) * 0rem) / 4) + (3 - 1) * 0rem);
  float: left;
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
  /* В диапазоне от 1200px до 1800px будет применяться обычная декстопная версия без медиаправила */
  /* Версия для больших мониторов имеет не макс., а мин. ограничение ширины */
}
.col-3-of-4:not(:last-child) {
  margin-right: 0rem;
}
@media only screen and (max-width: 1240px) {
  .col-3-of-4 {
    width: calc(3 * ((100% - (4 - 1) * 0rem) / 4) + (3 - 1) * 0rem);
  }
  .col-3-of-4:not(:last-child) {
    margin-right: 0rem;
  }
}
@media only screen and (max-width: 900px) {
  .col-3-of-4 {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.feedback-cards {
  display: flex;
  justify-content: center;
}
.feedback-cards__card {
  margin-right: 1.8rem;
  background-color: #fff;
  border-radius: 3rem;
  width: 35.4rem;
  height: 28.7rem;
  padding: 4.9rem 3rem 4.5rem 3.5rem;
}
.feedback-cards__topwrapper {
  display: flex;
}
.feedback-cards__photo {
  width: 7.7rem;
  margin-right: 2rem;
  margin-bottom: 2.5rem;
}
.feedback-cards__names {
  width: 14.4rem;
  height: 6.4rem;
  padding-top: 0.5rem;
}
.feedback-cards__name {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: 0.022rem;
}
.feedback-cards__city {
  color: #4D5053;
  font-family: Jost;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.7rem;
  letter-spacing: 0.022rem;
}
.feedback-cards__feedback {
  display: block;
  color: #4D5053;
  font-family: Jost;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.022rem;
}
.feedback-cards__feedback_1 {
  width: 24.4rem;
  height: 9rem;
}
.feedback-cards__feedback_2 {
  width: 25.6rem;
  height: 9rem;
}
.feedback-cards__feedback_3 {
  width: 27.4rem;
  height: 9rem;
}

.logo-1 {
  width: 18rem;
  padding-left: 4.8rem;
  margin-right: 12.5rem;
}

.logo-2 {
  width: 10.3rem;
  margin-right: 11rem;
}

.logo-3 {
  width: 16.4rem;
  margin-right: 8.9rem;
}

.logo-4 {
  width: 14.5rem;
  margin-right: 11.2rem;
}

.logo-5 {
  width: 11.7rem;
}

.projects {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 7.64rem 15.6rem 81.6rem 81.6rem;
}
.projects__title {
  grid-area: 1/1/2/3;
  padding-top: 1.34rem;
}
.projects__title h4 {
  color: #292F36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 4.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6.24rem;
  letter-spacing: 0.022rem;
}
.projects__text {
  grid-area: 2/1/3/3;
  padding-top: 2rem;
}
.projects__text p {
  color: #4D5053;
  text-align: center;
  font-family: Jost;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.022rem;
}
.projects__card img {
  margin-bottom: 2.5rem;
}
.projects__card_1 {
  grid-area: 3/1/4/2;
}
.projects__card_2 {
  grid-area: 3/2/4/3;
}
.projects__card_3 {
  grid-area: 4/1/5/2;
}
.projects__card_4 {
  grid-area: 4/2/5/3;
}
.projects__cardbottom {
  display: flex;
  justify-content: space-between;
}
.projects__description {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: 0.022rem;
}
.projects__stylename {
  color: #4D5053;
  font-family: Jost;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.022rem;
}
.projects__link {
  display: block;
  width: 7rem;
  height: 7rem;
  text-decoration: none;
}
.projects__button {
  position: relative;
  width: 7rem;
  height: 7rem;
  flex-shrink: 0;
  border-radius: 10rem;
  background: #F4F0EC;
}
.projects__buttonarrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 21.8rem 55.5rem 55.5rem;
  column-gap: 2rem;
  padding-top: 1.3rem;
}
.blogs__title {
  grid-area: 1/1/2/4;
}
.blogs__title h5 {
  color: #292F36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6.24rem;
  letter-spacing: 0.022rem;
  margin-bottom: 2.1rem;
}
.blogs__title p {
  color: #4D5053;
  text-align: center;
  font-family: Jost;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.022rem;
}
.blogs__card {
  padding-top: 2.1rem;
  padding-left: 2.1rem;
}
.blogs__card__img {
  width: 34.5rem;
  height: 29.6rem;
  margin-bottom: 1.5rem;
}
.blogs__card_1 {
  grid-area: 2/1/3/2;
}
.blogs__card_2 {
  grid-area: 2/2/3/3;
}
.blogs__card_3 {
  grid-area: 2/3/3/4;
}
.blogs__card_4 {
  grid-area: 3/1/4/2;
}
.blogs__card_5 {
  grid-area: 3/2/4/3;
}
.blogs__card_6 {
  grid-area: 3/3/4/4;
}
.blogs__description {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
}
.blogs__cardbottom {
  width: 34.5rem;
  height: 6.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.96rem;
}
.blogs__date {
  color: #4D5053;
  font-family: Jost;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.022rem;
}
.blogs__button {
  position: relative;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 10rem;
  background: #F4F0EC;
}
.blogs__buttonarrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blogs__link {
  text-decoration: none;
  display: block;
  width: 5.2rem;
  height: 5.2rem;
}

.wrapper-white {
  max-width: 144rem;
  background-color: #FFFFFF;
  margin: 0 auto;
  position: relative;
}

.section-about {
  height: 83.1rem;
  background: url("../img/bg-img.png") center/cover no-repeat;
  margin-bottom: 8.5rem;
}
.section-about__wrapper {
  position: relative;
}
.section-about__content {
  position: absolute;
  top: 19.5rem;
  left: 12rem;
  width: 60rem;
  height: 38.6rem;
}
.section-about__content h1 {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 8rem;
  line-height: 9.6rem;
  letter-spacing: 0.022rem;
  color: #292F36;
  margin-bottom: 1.9rem;
}
.section-about__text {
  margin-bottom: 3.5rem;
}

.section-about__button {
  position: relative;
  background-color: #292F36;
  width: 20.7rem;
  height: 7.1rem;
  border: 2px solid #292F36;
  border-radius: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.section-about__button p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.72px;
  color: #FFFFFF;
  padding-left: 3.4rem;
  margin-right: 2.1rem;
}

.section-about__arr {
  height: 7.1rem;
  position: relative;
}
.section-about__arr_h {
  position: absolute;
  top: 3.6rem;
  right: 2.1rem;
}
.section-about__arr_v {
  position: absolute;
  top: 1.8rem;
  right: 2rem;
}

.section-2 {
  height: 39.5rem;
  margin-bottom: 11.5rem;
}
.section-2__wrapper {
  background-color: #FFFFFF;
}
.section-2__title {
  padding-top: 7.5rem;
  margin-bottom: 1.7rem;
}
.section-2__text {
  display: block;
  text-align: center;
}
.section-2__text_1 {
  padding-left: 4.2rem;
  padding-right: 4.1rem;
  margin-bottom: 4.8rem;
}
.section-2__text_2 {
  padding-left: 5.2rem;
  padding-right: 5.1rem;
  margin-bottom: 1.5rem;
}
.section-2__text_3 {
  padding-left: 5.2rem;
  padding-right: 5.2rem;
  margin-bottom: 1.5rem;
}
.section-2__link {
  display: block;
  margin: 0 auto;
  width: 32rem;
  height: 4.7rem;
  text-align: center;
  text-decoration: none;
  color: #4D5053;
}
.section-2__link span {
  color: #CDA274;
  padding-left: 0.6rem;
}

.section-3 {
  height: 63.5rem;
  margin-bottom: 13.9rem;
}
.section-3__wrapper {
  position: relative;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-3__img {
  display: block;
  width: 53.2rem;
  height: 63.4rem;
}
.section-3__content {
  width: 59.2rem;
  height: 58.1rem;
}
.section-3__title {
  padding-top: 1.3rem;
  margin-bottom: 4.2rem;
}
.section-3__text {
  text-align: left;
  display: block;
  width: 49.1rem;
  margin-bottom: 4rem;
}
.section-3__call-us {
  width: 53.2rem;
  height: 9.3rem;
  display: flex;
  justify-content: left;
  margin-bottom: 5rem;
}
.section-3__callpic {
  width: 9.3rem;
  height: 9.3rem;
  background-color: #F4F0EC;
  border-radius: 5rem;
  position: relative;
  margin-right: 2rem;
}
.section-3__callpic img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.4rem;
}
.section-3__calltext {
  width: 15.4rem;
  height: 7.9rem;
  padding-top: 0.6rem;
}
.section-3__telnum {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.section-3__teltext {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
}

.section-3__button {
  position: relative;
  background-color: #292F36;
  width: 26.3rem;
  height: 7.1rem;
  border: 2px solid #292F36;
  border-radius: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.section-3__button p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.72px;
  color: #FFFFFF;
  padding-left: 3.4rem;
  margin-right: 2.1rem;
}

.section-3__arr {
  height: 7.1rem;
  position: relative;
}
.section-3__arr_h {
  position: absolute;
  top: 3.6rem;
  right: 2.4rem;
}
.section-3__arr_v {
  position: absolute;
  top: 1.8rem;
  right: 2.2rem;
}

.section-4 {
  margin-bottom: 14rem;
  position: relative;
}
.section-4__wrapper {
  background-color: #F4F0EC;
  height: 67.5rem;
  border-radius: 7rem;
}
.section-4__title {
  text-align: center;
  padding-top: 10.3rem;
  margin-bottom: 4.7rem;
  color: #292F36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.85rem;
  letter-spacing: 0.022rem;
}

.section-5 {
  margin-bottom: 10rem;
}
.section-5__wrapper {
  display: flex;
}

.section-6 {
  height: 185rem;
  margin-bottom: 8rem;
}

.section-7 {
  height: 47.5rem;
  margin-bottom: 14.5rem;
  background: #F4F0EC;
  padding-top: 14rem;
}

.counters {
  display: flex;
}
.counters__box {
  width: 28.8rem;
  height: 19.5rem;
  background: #F4F0EC;
}
.counters__box:not(:last-child) {
  border-right: 1px solid #CDA274;
  margin-right: 1.6rem;
}
.counters__digits {
  display: block;
  color: #CDA274;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 8.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 12.75rem;
  letter-spacing: 0.17rem;
}
.counters__text {
  display: block;
  color: #4D5053;
  text-align: center;
  font-family: Jost;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.022rem;
}

.section-8 {
  height: 133rem;
  padding-top: 1.5rem;
  margin-bottom: 10rem;
}

.section-9 {
  margin-bottom: 7.98rem;
}
.section-9__wrapper {
  height: 41.4rem;
  background-color: #292F36;
  border-radius: 7rem;
  padding-top: 10rem;
}

.joinus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.joinus__title {
  color: #FFF;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 7.5rem;
  letter-spacing: 0.022rem;
  margin-bottom: 0.9rem;
}
.joinus__text {
  color: #FFF;
  text-align: center;
  font-family: Jost;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.022rem;
  margin-bottom: 3.1rem;
}
.joinus__button {
  position: relative;
  display: flex;
  align-items: center;
  width: 24.1rem;
  height: 7.1rem;
  background-color: #CDA274;
  border-radius: 1.8rem;
  filter: drop-shadow(1px 0px 18px rgba(0, 0, 0, 0.2));
}
.joinus__btntext {
  color: #FFF;
  padding-left: 3.4rem;
  font-family: Jost;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.7rem;
  letter-spacing: 0.022rem;
}
.joinus__arr_h {
  position: absolute;
  top: 3.6rem;
  right: -6.8rem;
}
.joinus__arr_v {
  position: absolute;
  top: 1.8rem;
  right: -7rem;
}

.footer {
  height: 60.8rem;
  padding-top: 5rem;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__top {
  display: flex;
  height: 37.4rem;
  margin-bottom: 8rem;
}
.footer__interno {
  width: 39.3rem;
  margin-right: 1.6rem;
}
.footer__pages {
  width: 21rem;
  margin-right: 1.6rem;
}
.footer__explore {
  width: 21rem;
  margin-right: 1.6rem;
}
.footer__contact {
  width: 33.7rem;
}
.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */