.logo-1
    width: 18rem
    padding-left: 4.8rem
    margin-right: 12.5rem
.logo-2
    width: 10.3rem
    margin-right: 11rem
.logo-3
    width: 16.4rem
    margin-right: 8.9rem
.logo-4
    width: 14.5rem
    margin-right: 11.2rem
.logo-5
    width: 11.7rem