.projects
    display: grid
    column-gap: 2rem
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 7.64rem 15.6rem 81.6rem 81.6rem
    &__title
        grid-area: 1 / 1 / 2 / 3
        padding-top: 1.34rem
        h4
            color: #292F36
            text-align: center
            font-family: DM Serif Display
            font-size: 4.7rem
            font-style: normal
            font-weight: 400
            line-height: 6.24rem
            letter-spacing: .022rem
    &__text
        grid-area: 2 / 1 / 3 / 3
        padding-top: 2rem
        p
            color: #4D5053
            text-align: center
            font-family: Jost
            font-size: 2.2rem
            font-style: normal
            font-weight: 400
            line-height: 3.3rem
            letter-spacing: 0.022rem
    &__card
        img
            margin-bottom: 2.5rem
        &_1
            grid-area: 3 / 1 / 4 / 2
        &_2
            grid-area: 3 / 2 / 4 / 3
        &_3
            grid-area: 4 / 1 / 5 / 2
        &_4
            grid-area: 4 / 2 / 5 / 3

    &__cardbottom
        display: flex
        justify-content: space-between
    &__description
        color: #292F36
        font-family: DM Serif Display
        font-size: 2.4rem
        font-style: normal
        font-weight: 400
        line-height: 3.75rem
        letter-spacing: 0.022rem
    &__stylename
        color: #4D5053
        font-family: Jost
        font-size: 2.2rem
        font-style: normal
        font-weight: 400
        line-height: 3.3rem
        letter-spacing: 0.022rem
    &__link
        display: block
        width: 7rem
        height: 7rem
        text-decoration: none
    &__button
        position: relative
        width: 7rem
        height: 7rem
        flex-shrink: 0
        border-radius: 10rem
        background: #F4F0EC
    &__buttonarrow
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)