.header
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
        height: 10.6rem
        background-color: $color-white
    &__logolink
        width: 17.7rem
        height: 5rem
        display: block
        text-decoration: none

.navigation
    &__list
        width: 51.8rem
        list-style: none
        display: flex
        justify-content: space-between
        align-items: center


    &__link
        text-decoration: none
        &:link, &:visited
            color: #292F36
        &:hover
            color: $color-beige


